:root{
    --primary-color: #fff;
    --secundary-color:#9eb3c2;
    --text-btn-color: #333;
    --btn-color:#0278a7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url('.. img/nigth.jpeg') no-repeat;
background-size: cover;
background-position:center;
}

    .wrapper{
        width: 420px;
        background: transparent;
        border: 2px solid rgba(255,255,255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0,0,0,.2);
         color: var(--primary-color);
        border-radius: 10px;
        padding: 30px 40px;

        h1{
            font-size: 36px;
            text-align: center;
        }

        .input-box{
            width: 100%;
            height: 60px;
            position: relative;
            margin-top: 20px;
                    }
                    input{
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        border: 2px solid rgba(255,255,255, .2);
                        border-radius: 40px;
                        font-size: 16px;
                        color: var(--primary-color);
                        padding: 20px 40px 20px 20px;

                        &::placeholder{
                            color: va;
                        }
                    }
                    }
    }
}


